.chat-container {
    position: fixed;
    bottom: 10px;
    width: 94% !important;
    
}
.send {
    bottom: 18px;
    position: fixed;
    right: 6%;
}

.conversation {
    border: 1px solid blue;
    margin-top: 10px;
   
    width: auto;
   height: 400px;
   border-radius: 10px;
   overflow-x: hidden;
   overflow-y: auto;
}

